<div {{bind-attr class=":panel-heading industry.id"}}>
  <h4 class="panel-title">
    <span class="accordion-toggle collapsed">
      <span class="fui-arrow-right"></span>
      <div id="name">
        {{#link-to 'project' view.project.client view.project}}{{view.project.name}}{{/link-to}}
        &#151;
        {{#link-to 'client' view.project.client}}{{view.project.client.name}}{{/link-to}}
        <p id="project-dates">
          {{display-date start format="MMMM YYYY"}} &#151; {{display-date end format="MMMM YYYY"}}
        </p>
      </div>

    </span>
  </h4>
</div>
<div class="panel-collapse collapse">
  <div class="panel-body">{{yield}}</div>
</div>
