<ul {{bind-attr class=':selections focused'}}>
  {{#each destination}}
    <li class="selection">
      <span {{action removeSelection this}} class="tag">
        <span>{{name}}</span>
        <a class="tagsinput-remove-link"></a>
      </span>
    </li>
  {{/each}}
  <li class="searchbox">
    {{view view.autosuggest valueBinding='query' class='autosuggest'}}
{{!--     <span class="input-group-btn"><button class="btn"><span class="fui-search"></span></button></span>
  </li> --}}
</ul>

<div {{bind-attr class=':results hasQuery::hdn'}}>
  <div class="overlay" {{action 'hideResults'}}></div>
  <ul class='suggestions'>
    {{#each displayResults}}
      <li {{action addSelection this}} {{bind-attr class=":result active"}}>
        <a>
          <span class="term">{{name}}</span>
          <span class="termdata">
            <span {{bind-attr class=":fui-tag type"}}></span>
            <span class="termtype">{{type}}</span>
          </span>
        </a>
      </li>
    {{else}}
      <li class='no-results'>No Results.</li>
    {{/each}}
  </ul>
</div>
