{{#if showPagination}}
  <div class="pagination">
      <ul>
        <li {{bind-attr class=":previous hasPrevious::disabled"}}>
          <a {{action goToPreviousPage}} class="fui-arrow-left"></a>
        </li>
        <li class="page-desc">
          <span>
          {{page}} of {{pages}}
          </span>
        </li>
        <li {{bind-attr class=":next hasNext::disabled"}}>
          <a {{action goToNextPage}} class="fui-arrow-right"></a>
        </li>
      </ul>
  </div>
{{/if}}
