<div>
	<div class="img">
		<img {{bindAttr src="logo"}} />
	</div>
	<div>
		<h1> {{clientName}} </h1> 
		<br /> 
		<h2> Industry: {{#if industry}} {{industry}} {{else}} No Industry Entered {{/if}} </h2>
	</div>
	{{#view App.BookmarkView}}
	<div>
		{{#if isBookmarked}}
			<img {{bindAttr src="url1"}} />
		{{else}}
			<img {{bindAttr src="url2"}} />
		{{/if}}
	</div>
	{{/view}}
</div>
<br />
<li> Projects With Client </li>
<ul>
	{{#if projects}}
	{{#each project in projects}}
	<li {{action 'selectProject' project.id}}>
		<div>
			<p>
				<strong><span>{{project.startdate}}</span>" - "<span>{{project.enddate}}</span></strong>
			</p>
			<h5>
				<span>{{project.projectName}}</span>
			</h5>
			<p>
				"Manager: "<span>{{project.projectManager}}</span>
			</p>
		</div>
		<span>"arrow icon goes here"</span>
	</li>
	{{/each}}
	{{/if}}
</ul>
