{{#view App.SearchContainerView}}
  
    <li {{action selectSearchItem view.content}}>
      <a>
        {{view.content.name}}
        <span class="termdata">
          <span class="termtype">{{view.content.type}}</span>
        </span>
      </a>
    </li>

{{/view}}
{{auto-suggest source=controller destination=tags}}
{{partial 'search/filter'}}
