<li class="search-result" {{action 'view' this 'person'}}>
  {{profile-img size='sm' image=profileImage type='person'}}
  <a href="">{{firstName}} {{lastName}}</a>
  <p class="small">
    {{location}} &#151; {{cohort}} <!-- ascii dash -->
  </p>
</li>
