<div class="row">
  <div class="col-md-2">
    {{profile-img size='lg' image=profileImage}}
  </div>
  <div class="personal-info col-md-6">
    <h4>{{fullName}}</h4>
    <p>{{location}} - {{level}}</p>
    <p>Employee since {{display-date hireDate}}</p>
    <p>Mentored by {{#link-to 'person' mentor}}{{mentor.fullName}}{{/link-to}}</p>
    <p>{{mail-to email}}</p>
    <p>{{phone}}</p>
  </div>
  <div class="col-md-4">
  </div>
</div>


Projects:
<ul>
{{#each experience}}
    <li>{{#link-to 'project' project}}{{project.name}}{{/link-to}} -
      {{#link-to 'client' project.client}}{{project.client.name}}{{/link-to}}
    </li>
{{/each}}
</ul>
