<div class="row">
  <div class="col-md-4">
    <div id="sidebar">
      <ul class="nav nav-list nav-list-vivid">
        <li class="nav-header">Industries</li>
        {{#each industries itemView="sidebar-item"}}
          <a href="#" {{bind-attr class="id"}} {{action 'highlight' id}}>{{name}} <span class="badge pull-right">{{weight}}</span></a>
        {{else}}
          <li><em>None</em></li>
        {{/each}}
      </ul>
    </div>
  </div>
  
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-3">
        {{profile-img size='lg' image=profileImage type='person'}}
      </div>
      <div class="personal-info col-md-9">
        <h4>{{fullName}}</h4>
        <p>{{location}} &#151; {{cohort}}</p>
        <p>Employee since {{display-date hireDate}}</p>
        {{#if school}}<p>Graduated from {{school}}</p>{{/if}}
        {{#if mentor}}<p>Mentored by {{#link-to 'person' mentor}}{{mentor.fullName}}{{/link-to}}</p>{{/if}}
        <p>{{mail-to email}}</p>
        <p>{{phone}}</p>
      </div>
    </div>

    <h5>
      Client Projects &nbsp;
      {{#if showMatchBadge}}
       <span class="badge">{{filteredExperience.length}} matches</span> /
      {{/if}}
      <span class="badge badge-primary">{{experience.length}}</span>
      <span class="pull-right">
        <small><a href=""><strong>expand all</strong></a> / <a href="">collapse all</a></small>
      </span>
    </h5>
    {{#each filteredExperience}}
      <div class="experience">
        <div {{bind-attr class=":panel-heading industry.id"}}>
          <h4 class="panel-title">
              <div id="name">
                {{#link-to 'project' project.client project}}{{project.name}}{{/link-to}}
                &#151;
                {{#link-to 'client' project.client}}{{project.client.name}}{{/link-to}}
                <p id="project-dates">
                  {{display-date start format="MMMM YYYY"}} &#151; {{display-date end format="MMMM YYYY"}}
                </p>
              </div>
          </h4>
          <span>{{industry.name}}</span>
        </div>
        <div class="panel-collapse">
          <div class="panel-body">
            <a href="#" class="edit">edit <span class="fui-new"></span></a>
            <p class="summary">
              {{#if summary}}
                {{summary}}
              {{else}}
                Click edit to update your experience.
              {{/if}}
            </p>
            {{#if skills}}
            <p>
              <span class="badge">java</span>
              <span class="badge">spring</span>
            </p>
            {{/if}}
          </div>
        </div>
      </div>
    {{else}}
      <em>None</em>
    {{/each}}

  </div><!-- end col-8 -->
</div>
