<h4>{{firstName}} {{lastName}}, {{level}}</h4>
<p><strong>Email:</strong> {{email}}</p>
<p>Employee since {{display-date hireDate}}</p>
Projects:
<ul>
{{#each experiences}}
    {{type}}
{{/each}}
</ul>
