{{auto-suggest source=controller destination=filters}}

{{#if filters}}

    {{#tab-view}}
      {{#tab-pane name="People"}}
        <ul>
            {{#each people}}
                <li>{{#link-to 'person' this}}{{firstName}} {{lastName}}{{/link-to}}</li>
            {{else}}
                <li>No Results</li>
            {{/each}}
        </ul>
      {{/tab-pane}}

      {{#tab-pane name="Clients"}}
        <ul>
            {{#each clients}}
                <li>{{name}}</li>
            {{else}}
                <li>No Results</li>
            {{/each}}
        </ul>
      {{/tab-pane}}
    {{/tab-view}}
{{/if}}
